<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1><%=farm.name%></h1>
    <h2>Add a Product</h2>
    <form action="/farms/<%=farm._id%>/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name">
        <label for="price">Price (Unit)</label>
        <input type="number" id="price" name="price" placeholder="price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
            <option value="<%=category%>"><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
    <a href="/farms/<%=farm._id%>">Back To Farm</a>


</body>

</html>