<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
</head>
<body>
  <h1>Edit Product</h1>
  <form action="/products/<%=product._id%>?_method=PUT" method="POST">
    <label for="name">Product Name</label>
    <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name %>">
    <label for="price">Price (Unit)</label>
    <input type="number" name="price" id="price" placeholder="price" value="<%= product.price %>">
    <label for="category">Select Category</label>
    <select name="category" id="category">
      <% for( let category of categories ) { %>
        <option value="<%=category%>" <%= product.category === category ? 'selected' : ''  %> ><%=category%></option>
      <% } %>
    </select>
    <button>Submit</button>
  </form>

  <!-- LINK TO GO BACK/CANCEL EDIT ==> take back to show page -->
  <a href="/products/<%=product._id%> ">Cancel</a>

</body>
</html>