<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
<!-- COULD INCLUDE THE ABOVE IN THE HEAD... MORE DRY -->

  <div class="container">
    <h1>Browsing the <%= name %> subreddit </h1>
    <h2>
      <%= description %>
    </h2>
    <p>
      <%= subscribers %>: Total Subscribers
    </p>
    <hr>
    <!-- render all posts using loop -->
    <% for( let post of posts ) { %>
      <article>
        <h3>
          <%= post.title %> - <b>
              <%= post.author %>
            </b>
        </h3>
        <% if (post.img) { %>
          <img src="<%= post.img %>" alt="">
          <% } %>
      </article>
      <% } %>
  </div>

  <%- include('partials/footer') %> 